@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@Html.ActionLink("Registration", "Registration", "Home", null, new { @class = "page-scroll" }) will bring you to customer registration</h2>
</div>

