@model Customer  
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Full Name:&#160;@Model.FirstName @Model.LastName</h3>
<p>CustomerID:&#160;@Model.CustomerId</p>
<p>Email:&#160;@Model.Email </p>
<p>Password:&#160;@Model.Password</p>
<p>Homestore:&#160;@Model.HomeStore</p>
<p>Senior Discount:&#160;@Model.SeniorDiscount</p>